.run-btn {
  color: white;
  background-color: green;
  font-size: 16px;
  font-style: bold;
  padding: 10px 20px;
  border-style: none;
  border-radius: 50px;
  cursor: pointer;
}

.run-btn:hover {
  opacity: 0.8;
}

#structure-button{
  color: white;
  background-color: green;
  font-size: 16px;
  font-style: bold;
  padding: 10px 20px;
  border-style: none;
  border-radius: 50px;
  cursor: pointer;

}

#structure-button:hover{
  opacity: 0.8;
}

.reset-btn {
  color: white;
  background-color: #8B100A;
  font-size: 16px;
  font-style: bold;
  padding: 10px 20px;
  border-style: none;
  border-radius: 50px;
  cursor: pointer;
}

.reset-btn:hover {
  opacity: 0.8;
}